{
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 2,
    "arrowParens": "avoid",
    "pluginSearchDirs": ["./node_modules/prettier-plugin-tailwindcss"],
    "plugins": ["prettier-plugin-tailwindcss"]
}